extends layout 

block scripts
    script(src="/javascripts/listItemsButtonHandler.js" defer=true)
block content
    h1= "Liste des objets en vente"
    button#me Retourner sur votre profil
    table.itemList
        tr.titles
                th Nom de l'objet 
                th Description 
                th Prix
                th Vendu par
        each item in items
            tr.item
                td.name= item.name
                td.description= item.description
                td.price= item.price + "€"
                td.selledBy= item.selledBy
                td.buyCase
                    button.buy(user_id= item.user_id data_id= item._id) Acheter
