extends layout 

block scripts
    script(src="/javascripts/userButtonHandler.js" defer=true)
block content
    h1= "Votre profil"
    p Bonjour #{user.login}
    p Vous possédez #{user.balance} €
    p Voici vos objets actuellement en vente : 
    table.itemList
        each item in items
            tr.item(data-id= item._id)
                td.name= item.name
                td.description= item.description
                td.price= item.price
    button#sell Mettre en vente un objet 
    button#listAll Accéder à la liste des objets en vente
    button#logout Se déconnecter